body {
  font-family: 'Roboto Mono', monospace;
}

i {
  margin-top: 10px;

  &:hover {
    color: red;
  }
}

.warning {
  background-color: red;
  color: white;
}

.succes {
  background-color: green;
  color: white;
}

.hidden {
  display: none;
}